@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>


<div class="row">
    <div class="col-md-10">
        <h2 style="color:darkblue"> @ViewBag.Message</h2>
        <p>
            The Premier League is the organising body of the Premier League with responsibility for the competition, its Rule Book and the centralised broadcast and other commercial rights.
        </p>
        <p><a class="btn btn-default" href="https://www.premierleague.com/about">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h2 style="color:midnightblue"> What do we provide</h2>
        <p>As a website we provide useful information about football matches, results and daily news. What's more by adding comments you can find people with similar interests as yours! Do not hesitate and join us today.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">REGISTER HERE &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h2 style="color:deepskyblue">Our Socials</h2>
        <p>You can also learn more about us through our social media accounts.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Check it out &raquo;</a></p>
    </div>
</div>
