@{
    ViewBag.Title = "Contact US";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style="color:crimson">
    De Montfort University<br />
    Leicester<br />
    <abbr title="Phone"></abbr>
    +44075123456
</address>

<h3>Email us</h3>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportAPTEAM@DMU.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingAPTEAM@DMU.com</a> <br />
    <strong>Complaints:</strong> <a href="mailto:Complaints@example.com">ComplaintsAPTEAM@DMU.com</a>
</address>